[Unit]
Description=Run checks to determine whether STA-AP needs to be activated - version.1
Documentation=https://github.com/TROUBLESOM0/Subcloud

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sudo /usr/local/etc/subcloud/sta-ap/c_start.sh
User=root
Environment=DISPLAY=:0

/// REMOVE THIS LINE
/// u+rwx,g+rx,o+rx root:root
